<main>
  <header>
    <div>
      <h4>Arcade (Monthly)</h4>
      <button
        class="link-button"
        type="button"
        (click)="changePlan.emit()"
      >
        Change
      </button>
    </div>

    <h4>$9/mo</h4>
  </header>

  <hr>

  <section>
    <div>
      <label>Online service</label>
      <p>+$1/mo</p>
    </div>

    <div>
      <label>Online service</label>
      <p>+$1/mo</p>
    </div>
  </section>
</main>

<footer>
  <label>Total (per month)</label>
  <p>+12/mo</p>
</footer>
