<main>
  <header>
    <div>
      <h4>{{ plan | titlecase }} {{ yearlyPayment ? '(Yearly)' : '(Monthly)' }}</h4>
      <button
        class="link-button"
        type="button"
        (click)="changePlan.emit()"
      >
        Change
      </button>
    </div>

    <h4>{{ '+' + plansMap.get(plan)?.price + '/mo' }}</h4>
  </header>

  <hr>

  <section>
    <div *ngFor="let addOn of selectedAddOns">
      <label>{{ addOn.label }}</label>
      <p>{{ '+$' + addOn.price + '/mo' }}</p>
    </div>
  </section>
</main>

<footer>
  <label>Total (per month)</label>
  <p>{{ '+' + totalPaymentValue + '/mo' }}</p>
</footer>
