<main>
  <stepper
    class="stepper"
    [steps]="stepsLabels"
    [currentStep]="currentStep()"
    (currentStepChanged)="currentStep.set($event)"
  ></stepper>

  <form>
    <header>
      <h1>{{ currentStepDetails()?.label }}</h1>
      <p>{{ currentStepDetails()?.description }}</p>
    </header>

    <ng-container *ngIf="currentStep() === FORM_STEP.personalInfo">
      <personal-info></personal-info>
    </ng-container>

    <ng-container *ngIf="currentStep() === FORM_STEP.selectPlan">
      <plan></plan>
    </ng-container>

    <ng-container *ngIf="currentStep() === FORM_STEP.addOns">
      <add-ons></add-ons>
    </ng-container>

    <ng-container *ngIf="currentStep() === FORM_STEP.summary">
      <summary
        (changePlan)="currentStep.set(FORM_STEP.selectPlan)"
      ></summary>
    </ng-container>
  </form>

  <footer>
    <stepper-buttons
      class="stepper-buttons"
      [isFirstStep]="currentStep() === 0"
      [isLastStep]="currentStep() === steps.size - 1"
      (onPrevious)="onCurrentStepChanged('previous')"
      (onNext)="onCurrentStepChanged('next')"
    ></stepper-buttons>
  </footer>
</main>
