<main>
  <stepper
    class="stepper"
    [steps]="steps"
    [currentStep]="currentStep()"
    (currentStepChanged)="currentStep.set($event)"
  ></stepper>

  <form>
    <header>
      <h1>Personal info</h1>
      <p>Please provide your name, email address, and phone number.</p>
    </header>

    <add-ons></add-ons>

    <stepper-buttons
      class="stepper-buttons"
      [isFirstStep]="currentStep() === 0"
      [isLastStep]="currentStep() === steps.length - 1"
      (onPrevious)="onCurrentStepChanged('previous')"
      (onNext)="onCurrentStepChanged('next')"
    ></stepper-buttons>
  </form>
</main>
