@use './colors' as *;
@use './fonts' as *;

button {
  border: none;
  cursor: pointer;
  background: none;
}

@mixin solid-button($backgroundColor) {
  @include font($large, $white, 500);
  background-color: $backgroundColor;
  border-radius: 8px;
  padding: 14px 24px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: darken($backgroundColor, 10%);
  }
}

.text-button {
  @include font($large, $denim, 500);
}

.link-button {
  @include font($medium, $grey);
  text-decoration: underline;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    color: $purple
  }
}

.primary-button {
  @include solid-button($denim);
}

.confirm-button {
  @include solid-button($purple);
}
