$background: #EFF5FF;
$border: #D6D9E6;
$denim: #022959;
$grey: #9699AA;
$light-blue: #F2F2F2;
$light-grey: #D6D9E6;
$orange: #FFAF7E;
$pink: #F9818E;
$purple: #483EFF;
$red: #EE374A;
$sky-blue: #BEE2FD;
$very-light-grey: #F8F9FF;
$white: #FFFFFF;
