<ng-container *ngFor="let option of options">
  <main
    [class.selected]="form.value[option.control]"
    (click)="form.controls[option.control].setValue(!form.value[option.control])"
  >
    <fieldset>
      <checkbox-input
        class="checkbox-input"
        [control]="form.controls[option.control]"
        [checked]="!!form.value[option.control]"
      ></checkbox-input>

      <section>
        <label>{{ option.label }}</label>
        <p>{{ option.description }}</p>
      </section>
    </fieldset>

    <h6>+${{ option.price }}/mo</h6>
  </main>
</ng-container>
