<section class="selectable-cards">
  <selectable-card
    *ngFor="let plan of plans"
    [item]="plansMap.get(plan)"
    [itemKey]="plan"
    [isSelected]="form.value.plan === plan"
    (planSelected)="form.controls.plan.setValue($event)"
  ></selectable-card>
</section>

<fieldset>
  <label [class.selected]="!form.value.monthlyPayment">
    Monthly
  </label>

  <switch-input
    [control]="form.controls.monthlyPayment"
  ></switch-input>

  <label [class.selected]="form.value.monthlyPayment">
    Yearly
  </label>
</fieldset>
